<?xml version="1.0" encoding="UTF-8"?>
<root>
  <item name="android.widget.AbsListView int getCacheColorHint()">
    <annotation name="androidx.annotation.ColorInt"/>
  </item>
  <item name="android.widg